<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @task.author_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= l(@task.completed_at) if @task.completed_at %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
