<h1>Authors</h1>

<table class="table table-light">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Total of Tasks</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.email %></td>
        <td><%= author.tasks.count %></td>
        <td>
          <div class="btn-group" role="group" aria-label="Actions">
            <%= link_to 'Show', author, class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Edit', edit_author_path(author), class: 'btn btn-sm btn-secondary' %>
            <%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Author', new_author_path, class: 'btn btn-primary' %>
