<h3 class="mb-3">Sign in</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="form-outline mb-4">
  <%= f.label :email, class: 'form-label' %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg' %>
</div>

<div class="form-outline mb-4">
  <%= f.label :password, class: 'form-label' %>
  <%= f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-lg' %>
</div>

<%= f.submit "Log in", class: 'btn btn-primary btn-lg btn-block' %><br />
<%= render "devise/shared/links" %>
<% end %>
